<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>repos.daylight.pathweaver</id>
            <username>daylight-pathweaver</username>
            <password>pathweaver</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>daylight Pathweaver Development</id>
            <repositories>
                <repository>
                    <id>repos.daylight.pathweaver.public</id>
                    <url>http://50.57.100.173:80/m2/content/groups/public</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>repos.daylight.pathweaver.public.plugins</id>
                    <url>http://50.57.100.173:80/m2/content/groups/public</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>daylight Pathweaver Development</activeProfile>
    </activeProfiles>
</settings>
